"*":
  Hydrogen:
    kernelNotifications: true
    languageMappings: "{\"bash\": \"Shell Script\", \"babel\": \"babel es6 javascript\", \"octave\": \"MATLAB\", \"cling-cpp14\": \"c++\", \"cling-cpp17\": \"c++\"}"
    startDir: "dirOfFile"
  "autocomplete-plus":
    confirmCompletion: "tab"
  "better-git-blame":
    searchInLayerEnabled: false
  core:
    disabledPackages: [
      "linter-htmlhint"
      "language-gfm"
      "linter-julia"
      "language-javascript"
      "vim-surround"
      "symbols-view"
    ]
    excludeVcsIgnoredPaths: false
    reopenProjectMenuCount: 25
    telemetryConsent: "limited"
  "cursor-history":
    flashOnLand: false
  editor:
    fontSize: 13
    preferredLineLength: 92
    scrollPastEnd: true
    tabType: "soft"
  "exception-reporting":
    userId: "9ae7b5a1-d33e-5c56-c533-7755af4000ab"
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  "julia-client":
    consoleOptions: {}
    firstBoot: false
    juliaOptions: {}
    juliaPath: "~/builds/julia-1.3.0/julia"
    uiOptions:
      layouts:
        console: {}
        defaultPanes:
          plotPane: false
        documentation:
          defaultLocation: "bottom"
        plotPane: {}
        workspace:
          defaultLocation: "bottom"
  "language-babel": {}
  "linter-ui-default":
    panelHeight: 116
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "tool-bar":
    position: "Left"
  "tree-view": {}
  "uber-juno":
    disable: true
  "vim-mode-plus":
    useClipboardAsDefaultRegister: false
  welcome:
    showOnStartup: false
  whitespace: {}
".console.julia.source":
  editor:
    preferredLineLength: 92
".julia.source":
  editor:
    preferredLineLength: 92
    showIndentGuide: false
